
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Hack & Craft</title>
		<meta name="description" content="" />
		<meta name="author" content="Markus Angermeier" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link rel="apple-touch-icon" href="/static/apple-touch-icon.png" />
		<link href='http://fonts.googleapis.com/css?family=Jura:400' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Jura:600&text=&' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <link href='static/css/base.css' rel='stylesheet' type='text/css'>
	</head>
	<body>
    {{ content }}
  </body>
</html>
